/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #af0b0b;
}

#app {
  font-family: "Lato", sans-serif;
}

@layer components {
  .pokeball-shaped {
    @apply h-40 w-40 rounded-full;
  }
  .text-shadowed {
    /* @apply [text-shadow:_0_1px_0_rgb(0_55_0_/_80%)] */
  }
  .preview-loading {
    @apply animate-pulse h-full w-full my-0 p-0 mx-auto bg-red-700; 
    animation-duration: 0.8s;
  }
}

.docs-story {
  min-height: 12rem;
}